.footer {
  margin-top: 100px;
  margin-bottom: 100px;
}
.footer h1 {
  text-align: center;
  font-family: var(--font);
  font-size: 3rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--secondary-1);
  /* font-weight: 700; */
}
.touch {
  display: flex;
  gap: 2rem;
}
.gmail {
  font-size: 1.5rem;
  color: var(--bg);
  background-color: var(--secondary);
  padding: 0.5em 1.5em;
  border-radius: 50px;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.gmail:hover {
  box-shadow: 0px 0px 10px #00000050;
  transition: 0.2s;
}
.social-link {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 50px;
}
.social {
  font-size: 1.5rem;
  color: var(--bg);
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footer h1 {
    text-align: center;
    font-family: var(--font);
    font-size: 2rem;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: var(--secondary-1);
    /* font-weight: 700; */
  }
  .gmail {
    font-size: 1.2rem;
    background-color: var(--primary);
  }

.social-link {
gap: 2rem ;
}
}
