.header {
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  align-items: center;
}

.show-links {
  transform: translateX(15%);
  z-index: 999;
  transition: 0.5s;
  overflow-y: hidden;
}

.links-wrapper a {
  text-align: center;
  font-size: 1.3rem;
  /* color: var(--bg); */
  color: var(--primary);
  cursor: pointer;
}

.links-wrapper a:hover {
  color: var(--yellow);
}
.close {
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary);
  position: absolute;
  right: 1rem;
  top: 2rem;
  /* color: red; */
}

.nav .logo {
  font-size: 1rem;
  color: var(--purple);
  cursor: pointer;
  /* font-family: var(--font-2); */
}
.name {
  font-size: 1.2rem;
  font-weight: 600;
}
.social-links {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
}
.list a {
  /* color: var(--secondary-1); */
  color: var(--bg);
  text-decoration: none;
  cursor: pointer;
  /* font-family: var(--font-2); */
}

.socials {
  background-color: var(--primary-2);
  box-shadow: 0 0 5px #00000010;
  padding: 0.3em 0.5em;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8em;
  cursor: pointer;
}
.socials:hover {
  color: var(--red);
}

@media screen and (max-width: 768px) {
  .social-links {
    display: flex;
    gap: 0.9rem;
    font-size: 1.1rem;
  }
  .socials {
    box-shadow: 0 0 2px #00000010;

    padding: 0.2em 0.4em;
    font-size: 0.7em;
  }
  .show-links {
    transform: translateX(-80%);
    z-index: 999;
    transition: 0.5s;
    overflow-y: hidden;
  }
  .close {
    display: none;
  }
}
